In [ ]:
import pandas as pd

In [ ]:
print(pd.__version__)

1.3.5

In [ ]:
L=[10,20,30,40,50]
S=pd.Series(L)         # Seies is created with the help of keyword 'Series'.
print(S)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
print(S[3])    # we can print any entry from series.

40

In [ ]:
S=pd.Series(L,index=['a','b','c','d','e'])  #Changing numeric index to key index given by user.
print(S)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
S=pd.Series(L,index=[chr(i) for i in range(97,102)]) #passing key index by loops.
print(S)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
print(S['d'])          #printing any entry with key index.

40

In [14]:
# printing series with dictionaries.
d={'A':11,'B':22,'C':33,'D':44,'E':55,'F':66}
S=pd.Series(d)
print(S)

A    11
B    22
C    33
D    44
E    55
F    66
dtype: int64

In [15]:
#Creating dataframes (2D).

d={'name':['shivam','rahul','madhav','aman'],'age':[10,20,30,40]}
df=pd.DataFrame(d)           #keyword 'DataFrame'.
print(df)                    #printing dataframe.

print('-------------------------------------------------------------')

#to extract a particular row from dataframe.
#print(df[2])      (gives error we cannot extract row from dataframe as series)
print(df.loc[2])       #we use 'loc' attribute to extract row from dataframe.
print('-------------------------------------------------------------')

S=pd.Series(d)               # for series 'name' and 'age' are acting as key index.
print(S)                     #printing series.

print('-------------------------------------------------------------')

print(S['age'])              # to extract row from given data.

     name  age
0  shivam   10
1   rahul   20
2  madhav   30
3    aman   40
-------------------------------------------------------------
name    madhav
age         30
Name: 2, dtype: object
-------------------------------------------------------------
name    [shivam, rahul, madhav, aman]
age                  [10, 20, 30, 40]
dtype: object
-------------------------------------------------------------
[10, 20, 30, 40]

In [16]:
# to extract multiple row with have to pass index in a list.
print(df.loc[[0,3]])

     name  age
0  shivam   10
3    aman   40

In [19]:
# to extract multiple row we have to pass index in a list.
#using loops.
print(df.loc[[i for i in range(0,4)]])
print('-------------------------------------------------------------')
#using steps.
print(df.loc[[i for i in range(0,4,2)]])  
print('-------------------------------------------------------------')
# using slicing.   #upper boundary index is also included. 
print(df.loc[0:3])
print('-------------------------------------------------------------')
#Negative index willl work.
print(df.loc[-4:-1])

     name  age
0  shivam   10
1   rahul   20
2  madhav   30
3    aman   40
-------------------------------------------------------------
     name  age
0  shivam   10
2  madhav   30
-------------------------------------------------------------
     name  age
0  shivam   10
1   rahul   20
2  madhav   30
3    aman   40
-------------------------------------------------------------
Empty DataFrame
Columns: [name, age]
Index: []

In [20]:
#passing key index in dataFrames.
df1=pd.DataFrame(d,index=['a','b','c','d'])
print(df1)

     name  age
a  shivam   10
b   rahul   20
c  madhav   30
d    aman   40